@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
*{ /* esses códigos dentro do *{} serve para tirar as predefinições que ja veem*/
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
}
.checkboxcor{
display: none;
}
body.dark {
background-image: url("https://images.pexels.com/photos/3648850/pexels-photo-3648850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
transition: 0.3s;
}
.areabntcor{
margin-top: 0.5rem;
display: flex;
align-items: center;
width: 10vw;
height: 3vh;
border: 1px solid rgb(0, 0, 0);
border-radius: 1rem;
}
body.dark .areabntcor{
border: 1px solid rgb(255, 255, 255);
}
body.dark .direita{
background-color: black;
opacity: 0.8;
}
body.dark header{
background-color: #000000;
}
body.dark ::-webkit-input-placeholder{
color: rgb(255, 255, 255);
}
body.dark .inNome, body.dark .inEmail,body.dark .inSenha, body.dark .inConfirmSenha{
color: white;
}
    
.bolinha{
width: 1vw;
height: 2vh;
border: 0.5px solid black;
margin-left: 0.2rem;
border-radius: 1rem;
background-color: rgb(0, 0, 0);
cursor: pointer;
transition: 0.3s;
}
.bolinha.mover{
margin-left: 7.3rem;
transition: 0.3s;
}
body.dark .bolinha{
border: 0.5px solid white;
background-color: white;
color: black;
}
html{
    height: 100%;
    }    
body{
    min-height: 100%;
display: flex;
flex-direction: column;
background-color: #ffffff;
color: white;
font-family: 'Poppins',sans-serif;
transition: 0.3s;
background-image: url("audi.webp");
background-position: center;
background-attachment: absolute;
background-repeat: no-repeat;
background-size: cover;
}
header{
width: 40%;
background-color: #A970FF;
background-color: white;
}
main{
display: flex;
}
.direita{
background-color: rgb(255, 255, 255);
width: 40%;
height:39rem;
}
.areaForm{
margin: auto;
margin-top: 4rem;
width: 27vw;
height: 80vh;
border-radius: 0.5rem;
}
.areaForm.sumir{
display: none;
}
h2{
text-align: center;
margin-top: 1rem;
font-size: 2rem;
font-weight: 900;
color:  #A970FF;
}
.preencha{
position: absolute;
top: 9rem;
left: 36rem;
color: red;
}
form{
margin-top: 3rem;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
position: relative;
}
fieldset{
display: flex;
align-items: center;
width: 20vw;
height: 8vh;
color: #A970FF;
}
.inNome{
background-color: transparent;
border: none;
outline: none;
color: #000000;
width: 20vw;
margin-left: 0.5rem; 
}
.preenchaNome{
position: absolute;
left: 8.2rem;
top: 8.8rem;
font-size: 0.7rem;
color: rgb(255, 0, 0);
display: none;
}
.inSenha{
background-color: transparent;
border: none;
outline: none;
color: rgb(0, 0, 0);
width: 20vw;
margin-left: 0.5rem;  
}
.olhoaberto1{
position: absolute;
left: 80%;
top: 45%;
cursor: pointer;
color:  #A970FF;
}
.olhoaberto2{
position: absolute;
left: 80%;
top: 65%;
cursor: pointer;
color:  #A970FF;
}
.inEmail{
background-color: transparent;
border: none;
outline: none;
color: rgb(0, 0, 0);
width: 20vw;
margin-left: 0.5rem;  
}
.preenchaEmail{
position: absolute;
font-size: 0.7rem;
color: red;
top: 12.8rem;
left: 8.2rem;
display: none;
}
.preenchaSenha{
position: absolute;
font-size: 0.7rem;
color: red;
top: 17rem;
left: 8.2rem;
display: none;
}
.preenchaConfirmSenha{
position: absolute;
font-size: 0.7rem;
color: red;
top: 21.5rem;
left: 8.2rem;
display: none;
}
.inConfirmSenha{
background-color: transparent;
border: none;
outline: none;
color: rgb(0, 0, 0);
width: 20vw;
margin-left: 0.5rem;  
}
::-webkit-input-placeholder{
color: rgb(0, 0, 0);
}
.btnEnviar{
margin-top: 1rem;
width: 20vw;
height: 10vh;
background-color: #A970FF;
color: white;
font-size: 1.2rem;
font-weight: 900;
cursor: pointer;
}
.btnEnviar:active{
scale: 0.95;
}


@media  (max-width: 600px){
.direita{
width: 100%;
height: 32rem;
position: relative;
background-color: transparent;
}
.areaForm{

width: 80%;
height: 69vh;
background-color: white;
}

form{
width: 100%;
height: 69vh;
border: 1px solid black;
}
fieldset{
width: 90%;
height: 3rem;
position: relative;
}
.olhoaberto1{
left: 92%;
top: 0%;
}
.olhoaberto2{
left: 92%;
top: 0%;
}
.inNome, .inEmail{
width: 100% ;
}
.inSenha, .inConfirmSenha{
width: 84% ;
}
.preenchaNome{
top: 130%;
left:1%;
}
.preenchaEmail{
top: 130%;
left:1%;
}
.preenchaSenha{
top: 130%;
left:1%;
}
.preenchaConfirmSenha{
top: 130%;
left:1%;
}

}


    
    
    
    
